@import '../colors';

#home-search{
    animation: fadein 1s;
    width: 400px;
    @media screen and (max-width: 400px) {
        width: 300px;
    }
    input {
        background-image: url(../../static/icons/search.svg);
        background-repeat: no-repeat;
        background-position: left;
        background-position-x: 1%;
        background-size: 7%;
        background-color: white;
        text-indent: 1em;
        width: 95%;
        @media screen and (max-width: 400px) {
            width: 280px;
            text-indent: .75em;
        }
        background-color: #171717;
        color: white;
        font-size: 1.75em;
        border-radius: 10px;
        border-color:transparent;
        padding: .1em .25em;
        outline: none;
        &.populated {
            border-radius: 10px 10px 0px 0px;
            border-bottom-color: rgba(255,255,255,.1);
        }
    }
}
.suggestions-container {
    background-color: #171717;
    a {
        display: block;
        text-decoration: none;
    }
    padding: .75em .75em .75em .75em;
    border-radius: 0px 0px 10px 10px;
}
#suggestion-box {
    display: none;
    width: 93.5%;
    &.populated{
        display: block;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}